{% extends "base.html"%}
{% block title %}Doko with video conferences{% endblock%}
{% block content %}
  <h1>Doppelkopf</h1>

  {% include "howto.html" %}
  
  <h3>Game number {{nr}} in '{{seed}}'</h3>
  <ul>
    {% for name, viewed in players.items() %}
    <li> <a href="/doko/{{seed}}/{{nr}}/{{name}}">Player {{name}}</a>
      {% if viewed == 0 %}
      (not viewed)
      {% else %}
      (viewed)
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p>You can keep this page open or reload it to see if everyone has seen their cards.</p>

{% endblock%}
