{% extends "base.html"%}
{% block title %}{{game.title}} with video conferences{% endblock%}
{% block content %}
  <h1>{{game.title}}</h1>

  {% if game.link == "doko" %}
  {% include "howto_doko.html" %}
  {% elif game.link == "skat" %}
  {% include "howto_skat.html" %}
  {% endif %}
  
  <h3>Game number {{nr}} in '{{seed}}'</h3>
  <ul>
    {% for name, viewed in players.items() %}
    <li> <a href="/{{game.link}}/{{seed}}/{{nr}}/{{name}}">Player {{name}}</a>
      {% if viewed == 0 %}
      (not viewed)
      {% else %}
      (viewed)
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p>You can keep this page open or reload it to see if everyone has seen their cards.</p>

{% endblock%}
