{% extends "base.html"%}
{% block title %}Doko with video conferences{% endblock%}
{% block content %}
  <h1>Doppelkopf</h1>

  <h3>Next game</h3>
  Click <a href="/doko/{{seed}}/{{nr+1}}/{{player}}">here</a> to see your next hand.
  (Only click this once you finished the current game, since you will not be able to reload this page).

  <h3>Game number {{nr}} in '{{seed}}'</h3>

  <p> Player {{player}}'s cards are: </p>
  {% for c in cards %}
    <img class="card" src="{{url_for('doko_skat.static', filename=c)}}"></img>
  {% endfor %}

  {% include "howto.html" %}

{% endblock%}
