  <h3>How to play Skat:</h3>
  <ul>
    <li>Find 3 players, start a video conference. Every player will need a deck of cards</li>
    <li>All players enter the same text in the field below</li>
    <li>The next page will show 4 links. These pages are only shown once. Agree which player clicks on which links</li>
    <li>Pick the cards you are shown out of the deck, put the remaining cards away</li>
    <li>Start playing by showing the card you are playing in the video stream</li>
    <li>Every player makes three piles and puts his card on the pile of the person who won the trick</li>
    <li>At the end, count the points in each pile, compare and add up. repeat</li>
  </ul>
