{% extends "base.html" %}
{% block title %}Boggle with video conferences{% endblock%}
{% block css %}
  <link rel="stylesheet" href="{{url_for('boggle.static', filename='boggle.css')}}?v=1.0">
{% endblock%}
{% block content %}
  <h1> Playing Boggle with video conference support</h1>

  <p>How to play:
    <ul>
      <li>have everyone you want to play with connected via video or voice chat.</li>
      <li>Everyone should load this page: <a href="/boggle/{{ size }}x{{ size }}/{{ seed }}">boggle/{{ size }}x{{ size }}/{{ seed }}</a></li>
      <li>Once everyone is ready, have someone hit the start button. </li>
      <li>Play until the timer gets to zero</li>
    </ul>
  </p>

  
  <button onclick="start_game()">New Game</button>
  <button onclick="rotate(-1)">Rotate Left</button>
  <button onclick="rotate(1)">Rotate Right</button>
  <button onclick="rotate_tiles()">Rotate Tiles randomly</button>

  Timer: <span id="timer"> 180 </span>

  <table id="boggle" class="degree_0">
    {% for i in range(size) %}
    <tr>
      {% for j in range(size) %}
      <td><img src="{{url_for('boggle.static', filename='/images/tile_{}.png'.format(boggle[i+size*j]))}}"></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <button id="age"> {{ fileage }} </button>
{% endblock%}
{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{url_for('boggle.static', filename='boggle.js')}}"></script>
{% endblock%}
