{% extends "base.html" %}
{% block title %}Boggle with video conferences{% endblock%}
{% block content %}
<h1> Playing Boggle with video conference support</h1>

  <p>How to play: have everyone you want to play with connected via video or voice chat.</p>


  <p>To start a new game, enter a unique word below</p>

  <form method="POST">
    <input name="name">
    <select name="size">
      <option value="4">4x4</option>
      <option value="5">5x5</option>
    </select>
    <input type="submit" value="Start game">
  </form>
{% endblock %}
