<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Boggle with video conferences</title>
  <meta name="description" content="Playing boggle with video conference support">
  <meta name="author" content="Arun Persaud">

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}?v=1.0">

</head>

<body>

  <h1> Playing Boggle with video conference support</h1>

  <p>How to play: have everyone you want to play with connected via video or voice chat.</p>


  <p>To start a new game, enter a unique word below</p>

  <form method="POST">
    <input name="name">
    <select name="size">
      <option value="4">4x4</option>
      <option value="5">5x5</option>
    </select>
    <input type="submit" value="Start game">
  </form>

  <footer>
    Copyright 2020 Arun Persaud, Sean Brennan. Code available on <a href="https://github.com/arunpersaud/webgames">github</a>.
  </footer>

</body>
</html>
