<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Boggle with video conferences</title>
  <meta name="description" content="Playing boggle with video conference support">
  <meta name="author" content="Arun Persaud">

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}?v=1.0">

</head>

<body>

  <h1> Playing Boggle with video conference support</h1>

  <p>How to play:
    <ul>
      <li>have everyone you want to play with connected via video or voice chat.</li>
      <li>Everyone should load this page: <a href="/boggle/{{ size }}x{{ size }}/{{ seed }}">boggle/{{ size }}x{{ size }}/{{ seed }}</a></li>
      <li>Once everyone is ready, have someone hit the start button. </li>
      <li>Play until the timer gets to zero</li>
    </ul>
  </p>

  <button onclick="start_game()">Start</button>

  <button id="timer"> 180 </button>

  <table id="boggle">
    {% for i in range(size) %}
    <tr>
      {% for j in range(size) %}
      <td><img src="{{url_for('boggle.static', filename='/images/tile_{}.png'.format(boggle[i+size*j]))}}"></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <button id="age"> {{ fileage }} </button>

  <footer>
    Copyright 2020 Arun Persaud, Sean Brennan. Code available on <a href="https://github.com/arunpersaud/webgames">github</a>.
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{url_for('boggle.static', filename='boggle.js')}}"></script>
</body>
</html>
